# .gitattributes

# Ignore Blade templates for language stats (they are mostly HTML)
# *.blade.php linguist-vendored


# Also ignore common frontend files that skew the count
*.css linguist-vendored
*.html linguist-vendored
*.js linguist-vendored
*.ts linguist-vendored
/public/** linguist-vendored
/Planing/** linguist-vendored
/resources/** linguist-vendored

# Treat all .blade.php files as PHP for language statistics
*.blade.php linguist-language=PHP